/*Start: Global Styles (Remove after integrating with Godiva Codebase)*/
*{
    margin: 0;
    padding: 0;
}
.rf_container-fluid{
    width:100%;
}
.rf_container{
    max-width:1152px;
    margin:0 auto;
    padding: 0 24px;
    box-sizing: border-box;
}
/*End: Global Styles (Remove after integrating with Godiva Codebase)*/

/* mega menu list */
/*.nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
}*/

/* a top level navigation item in the mega menu */
/*.nav-item {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}*/

/* first descendant link within a top level navigation item */
/*.nav-item > a {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0 -1px 0;
    border: 1px solid transparent;
}*/

/* focus/open states of first descendant link within a top level 
   navigation item */
/*.nav-item > a:focus,
.nav-item > a.open {
    border: 1px solid #dedede;
}*/

/* open state of first descendant link within a top level 
   navigation item */
/*.nav-item > a.open {
    z-index: 1;
}*/

/* sub-navigation panel */
/*.sub-nav {
    position: absolute;
    display: none;
    top: 2.6em;
    margin-top: -1px;
    padding: 0.5em 1em;
    border: 1px solid #dedede;
    background-color: #fff;
}*/

/* sub-navigation panel open state */
/*.sub-nav.open {
    display: block;
}*/

/* list of items within sub-navigation panel */
/*.sub-nav ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 0 0;
    padding: 0;
}*/

/* list item within sub-navigation panel */
/*.sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}*/


header.global-header {
    display: block;
    width: 100%;
    background-color: #3c1c0d;
    color: #fff;
}
.header-wrap{
    display: block;
    height: 120px;
}
/*Start: Header Top*/
.header-top{
    display: block;
    padding-top: 15px;
    width: 100%;
}
.header-links-wrap-1{
    display: block;
    float: left;
}
.header-links-wrap-2{
    display: block;
    float: right;
}
.header-links-1,
.header-links-2{
    display: block;
    float: left;
    list-style: none;
}
.header-links-1 li{
    float: left;
    padding-right: 25px;       
}
.header-links-1 li a{
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    font-size: 1em;
    color: #cfb56a;
    line-height: 1em;
    letter-spacing: 0.05em; 
}
.header-links-2 li{
    float: left;    
    padding-left: 25px;    
}
.header-links-2 li a{
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    font-size: 1em;
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.05em; 
}
.header-logo{
    display: block;
    text-align: center;
}
.logo-big{ 
    display: inline-block;
    position: relative;
    left: -87px;
}

/*Start: Nav Wrapper*/
.nav-wrapper{
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 22px;
}
.nav {

}
.nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
}
.nav-item {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-right: 40px;
}
.nav-item > a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    font-size: 0.875em;
    line-height: 0.875em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
}
.nav-item > a.open {
    z-index: 1;
}
.nav-item > a.hover{
    text-decoration: none;
    font-family: Arial;
    font-size: 0.875em;
    text-transform: uppercase;
    color: #cfb56a;
}
.sub-nav {
    display: none;
    position: absolute;
    left: 0;
    top: 1.8em;
    width: 100%;
    background-color: #3c1c0d;
}
.sub-nav-content {
    display: inline-block;
    border-top: 1px solid #cfb56a;
    margin: 0 24px;
    padding: 50px 0;
    padding-top: 0;
    opacity: 0;
    transition: padding-top 0.25s ease-in-out;
    -webkit-transition: padding-top 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    width: calc(100% - 48px);
    max-width: 1104px;
}
.sub-nav.open .sub-nav-content{
    padding-top: 50px;
    opacity: 1;
}
.sub-nav-group li{
    display: block;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0 0 20px 0;
}
.sub-nav-group.image-group li:first-child{
    text-align: center;
}
.sub-nav-group li:first-child{
    padding-bottom: 30px;
}
.sub-nav-group li img{
    width: 100%;
}
.sub-nav-group li a{
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.05em;
    color: #fff;
    width: 100%;
    max-width: 100%;
}
.sub-nav-group li:first-child a{
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    font-size: 0.875em;
    line-height: 0.875em;
    min-height: 0.875em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
}
.sub-nav.open {
    display: block;
}
.sub-nav-content ul {
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    padding: 0;
    float: left;
}
.sub-nav-content ul:last-child {
    margin-right: 0;
}